:root {
  --color-base-background: #fffefc;
  --color-base-background-lighter: #f7f6f3;
  --color-base-text: rgba(17, 17, 17, 1);
  --color-base-text-lighter: rgba(0, 0, 0, 0.6);
  --color-border: rgba(0, 0, 0, 0.1);
  --color-primary-background: #e16259;
  --color-primary-text: #eb5757;
}
